/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root{
background-color: rgb(49, 17, 17);
}
li{
  list-style: none;
}
.main-heading{
  color: white;
}
.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 5rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 26px;
}
.card{
box-shadow: 0 0 5px rgb(114, 70, 70);
color: aliceblue;
height: 30rem;

gap:2px;
}

.card-image{
  width: 100%;
}
.card-data{
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.btn{
  min-height: 3rem;
  width: 100%;
 background-color: rgba(228, 211, 211,4);
 
 border:  none;
 margin-top: 1em;
}
  
.offer{
  display: inline;
  width: 50px;
 background-color:  rgb(194, 194, 80);
 border: none;
  border-radius:15px;
  margin:0.5rem;
} */